/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

#include "am335x-br-pinmux.dtsi"

/ {
	/* "gpio-leds" class seems to have to be used for _all_ DT OUTPUT gpios, led or not:
	 *   https://e2e.ti.com/support/embedded/linux/f/354/t/394107
	 */
	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_output_pins_default>;

		compatible = "gpio-leds";

		/* --- INIT STUFF --- */
		/* 0x1e8 ( PIN_OUTPUT_PULLUP | MUX_MODE7 ) -- (B14) EMU1.gpio3[8] ~ BT_CTS_MUX */
		bt-cts-mux {
			label = "init:bt-cts-mux";
			gpios = <&gpio3 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* 0x50 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R14) gpmc_a4.gpio1[20] ~ MMC1_RESET# */
		reset-mmc1 {
			label = "init:mmc1-reset";
			gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		/* 0xe4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R5) lcd_hsync.gpio2[23] ~ ETH0_RESET# */
		reset-eth0 {
			label = "init:eth0-reset";
			gpios = <&gpio2 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		/* 0x6c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V17) gpmc_a11.gpio1[27] ~ AUD_MCLK_EN */
		audio-clk-enable {
			label = "init:audio-clk-enable";
			gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};


		/* --- POWER --- */
		/* 0x1e4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (C14) EMU0.gpio3[7] ~ WIFI_PWR_ENABLE */
		power-wifi {
			label = "power:wifi";
			gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* 0x94 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T7) gpmc_oen_ren.gpio2[3] ~ G1700_PWR_ENABLE */
		power-g1700 {
			label = "power:g1700";
			gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};


		/* --- CONTROLS --- */
		/* 0x98 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U6) gpmc_wen.gpio2[4] ~ G1700_EXT_ANT_EN */
		control-g1700-ext-ant {
			label = "ctrl:g1700-ext-ant";
			gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* 0x9c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T6) gpmc_be0n_cle.gpio2[5] ~ LED_COLOUR_SELECT */
		control-signal-color-yellow {
			label = "ctrl:signal-color-yellow";
			gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* --- LEDS --- */
		/* 0x168 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (E18) uart0_ctsn.gpio1[8] ~ SIGNAL_LED_B1 */
		led-signal1 {
			label = "led:signal1";
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xb8 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T3) lcd_data6.gpio2[12] ~ SIGNAL_LED_B2 */
		led-signal2 {
			label = "led:signal2";
			gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xb4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T2) lcd_data5.gpio2[11] ~ SIGNAL_LED_B3 */
		led-signal3 {
			label = "led:signal3";
			gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x16c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (E17) uart0_rtsn.gpio1[9] ~ SIGNAL_LED_B4 */
		led-signal4 {
			label = "led:signal4";
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x20 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U10) gpmc_ad8.gpio0[22] ~ STATUS_3LED_B */
		led-3led-b {
			label = "led:3led-blue";
			gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x24 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T10) gpmc_ad9.gpio0[23] ~ STATUS_3LED_R */
		led-3led-r {
			label = "led:3led-red";
			gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xcc ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U4) lcd_data11.gpio2[17] ~ STATUS_3LED_G_OVERRIDE */
		led-3led-g-override {
			label = "led:3led-green-override";
			gpios = <&gpio2 17 GPIO_ACTIVE_HIGH>;
			/* setup to blink for wifi activity */
			/*linux,default-trigger = "mmc2"; */
		};



		/* --- G1700 KEYS/BUTTONS --- */
		/* 0x150 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (A17) spi0_sclk.gpio0[2] ~ KEY_1 */
		key-1 {
			label = "key:1";
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xbc ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T4) lcd_data7.gpio2[13] ~ KEY_2 */
		key-2 {
			label = "key:2";
			gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x28 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T11) gpmc_ad10.gpio0[26] ~ KEY_3 */
		key-3 {
			label = "key:3";
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x54 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) /* (V15) gpmc_a5.gpio1[21] ~ KEY_4 */
		key-4 {
			label = "key:4";
			gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x58 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U15) gpmc_a6.gpio1[22] ~ KEY_5 */
		key-5 {
			label = "key:5";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x5c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T15) gpmc_a7.gpio1[23] ~ KEY_6 */
		key-6 {
			label = "key:6";
			gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xc0 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U1) lcd_data8.gpio2[14] ~ KEY_7 */
		key-7 {
			label = "key:7";
			gpios = <&gpio2 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xc4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U2) lcd_data9.gpio2[15] ~ KEY_8 */
		key-8 {
			label = "key:8";
			gpios = <&gpio2 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xa4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R2) lcd_data1.gpio2[7] ~ KEY_9 */
		key-9 {
			label = "key:9";
			gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x154 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (B17) spi0_d0.gpio0[3] ~ KEY_0 */
		key-0 {
			label = "key:0";
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x2c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U12) gpmc_ad11.gpio0[27] ~ KEY_SEND */
		key-send {
			label = "key:send";
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* 0x34 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R12) gpmc_ad13.gpio1[13] ~ KEY_CLR */
		key-clr {
			label = "key:clr";
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x38 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V13) gpmc_ad14.gpio1[14] ~ KEY_SOFT_R */
		key-soft-r {
			label = "key:soft-r";
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x30 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T12) gpmc_ad12.gpio1[12] ~ KEY_SOFT_L */
		key-soft-l {
			label = "key:soft-l";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x60 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V16) gpmc_a8.gpio1[24] ~ KEY_END_PWR */
		key-end-pwr {
			label = "key:end-pwr";
			gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xdc ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T5) lcd_data15.gpio0[11] ~ KEY_POUND */
		key-pound {
			label = "key:pound";
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xa0 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R1) lcd_data0.gpio2[6] ~ KEY_STAR */
		key-star {
			label = "key:star";
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};


	/* Based on gpio-of-helper defined here: https://www.mail-archive.com/linux-gpio@vger.kernel.org/msg04361.html
	 * NOTE:  This 'gpio-of-helper' driver looks about half-baked!  It does NOT set active low/high, nor create
     *   string-based names.  USE WITH CAUTION!!!
     */
	gpio_inputs {
		compatible = "gpio-of-helper";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_input_pins_default>;
		status = "okay";

		/* 0x7c ( PIN_INPUT_PULLUP | MUX_MODE7 ) -- (V6) gpmc_csn0.gpio1[29] ~ POWER_CONNECTED# */
		power_connected {
			gpio-name = "power:ac_connected";
			gpio = <&gpio1 29 GPIO_ACTIVE_LOW>;
			input;
		};
	};

};
