/*
 * Copyright (C) 2015 Openity Incorporated - http://www.openity.com
 *   based on:
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>

#include "am33xx.dtsi"
#include "am335x-br-pinmux.dtsi"

/ {
	model = "BottleRocket (AM335x)";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";

	cpus {
		cpu@0 {
			cpu0-supply = <&dcdc2_reg>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x80000000 0x10000000>; /* 256 MB <= this is really 512MB, how does this work??? */
	};

	/* "gpio-leds" class seems to have to be used for _all_ DT OUTPUT gpios, led or not:
	 *   https://e2e.ti.com/support/embedded/linux/f/354/t/394107
	 */
	leds {
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_output_pins_default>;

		compatible = "gpio-leds";

		/* --- INIT STUFF --- */
		/* 0x1e8 ( PIN_OUTPUT_PULLUP | MUX_MODE7 ) -- (B14) EMU1.gpio3[8] ~ GPIO3_8 */
		gpio3-8-init {
			label = "init:gpio3_8_init";
			gpios = <&gpio3 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* 0x6c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V17) gpmc_a11.gpio1[27] ~ AUD_MCLK_EN */
		audio-clk-enable {
			label = "audio:clk-enable";
			gpios = <&gpio1 27 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};


		/* --- POWER --- */
		/* 0x1e4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (C14) EMU0.gpio3[7] ~ WIFI_PWR_ENABLE */
		power-wifi-enable {
			label = "power:wifi";
			gpios = <&gpio3 7 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* 0x94 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T7) gpmc_oen_ren.gpio2[3] ~ G1700_PWR_ENABLE */
		power-g1700-enable {
			label = "power:g1700-enable";
			gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		/* 0x98 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U6) gpmc_wen.gpio2[4] ~ G1700_EXT_ANT_EN */
		power-g1700-ext-ant-enable {
			label = "power:g1700-ext-ant";
			gpios = <&gpio2 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* --- RESET --- */
		/* 0x50 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R14) gpmc_a4.gpio1[20] ~ MMC1_RESET# */
		reset-mmc1 {
			label = "reset:mmc1";
			gpios = <&gpio1 20 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		/* 0xe4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R5) lcd_hsync.gpio2[23] ~ ETH0_RESET# */
		reset-eth0 {
			label = "reset:eth0";
			gpios = <&gpio2 23 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};


		/* --- LEDS --- */
		/* 0x168 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (E18) uart0_ctsn.gpio1[8] ~ SIGNAL_LED_B1 */
		led-signal-b1 {
			label = "led:led-signal-b1";
			gpios = <&gpio1 8 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x150 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (A17) spi0_sclk.gpio0[2] ~ SIGNAL_LED_B2 */
		led-signal-b2 {
			label = "led:led-signal-b2";
			gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x154 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (B17) spi0_d0.gpio0[3] ~ SIGNAL_LED_B3 */
		led-signal-b3 {
			label = "led:led-signal-b3";
			gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x16c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (E17) uart0_rtsn.gpio1[9] ~ SIGNAL_LED_B4 */
		led-signal-b4 {
			label = "led:led-signal-b4";
			gpios = <&gpio1 9 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* --- G1700 KEYS/BUTTONS --- */
		/* 0xb8 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T3) lcd_data6.gpio2[12] ~ KEY_1 */
		key-1 {
			label = "key:1";
			gpios = <&gpio2 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xbc ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T4) lcd_data7.gpio2[13] ~ KEY_2 */
		key-2 {
			label = "key:2";
			gpios = <&gpio2 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x28 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T11) gpmc_ad10.gpio0[26] ~ KEY_3 */
		key-3 {
			label = "key:3";
			gpios = <&gpio0 26 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x54 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) /* (V15) gpmc_a5.gpio1[21] ~ KEY_4 */
		key-4 {
			label = "key:4";
			gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x58 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U15) gpmc_a6.gpio1[22] ~ KEY_5 */
		key-5 {
			label = "key:5";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x5c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T15) gpmc_a7.gpio1[23] ~ KEY_6 */
		key-6 {
			label = "key:6";
			gpios = <&gpio1 23 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xc0 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U1) lcd_data8.gpio2[14] ~ KEY_7 */
		key-7 {
			label = "key:7";
			gpios = <&gpio2 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xc4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U2) lcd_data9.gpio2[15] ~ KEY_8 */
		key-8 {
			label = "key:8";
			gpios = <&gpio2 15 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xa4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R2) lcd_data1.gpio2[7] ~ KEY_9 */
		key-9 {
			label = "key:9";
			gpios = <&gpio2 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xb4 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T2) lcd_data5.gpio2[11] ~ KEY_0 */
		key-0 {
			label = "key:0";
			gpios = <&gpio2 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x2c ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (U12) gpmc_ad11.gpio0[27] ~ KEY_SEND */
		key-send {
			label = "key:send";
			gpios = <&gpio0 27 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};


		/* 0x34 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R12) gpmc_ad13.gpio1[13] ~ KEY_CLR */
		key-clr {
			label = "key:clr";
			gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x38 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V13) gpmc_ad14.gpio1[14] ~ KEY_SOFT_R */
		key-soft-r {
			label = "key:soft-r";
			gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x30 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T12) gpmc_ad12.gpio1[12] ~ KEY_SOFT_L */
		key-soft-l {
			label = "key:soft-l";
			gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0x60 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (V16) gpmc_a8.gpio1[24] ~ KEY_END_PWR */
		key-end-pwr {
			label = "key:end-pwr";
			gpios = <&gpio1 24 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xdc ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (T5) lcd_data15.gpio0[11] ~ KEY_POUND */
		key-pound {
			label = "key:pound";
			gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/* 0xa0 ( PIN_OUTPUT_PULLDOWN | MUX_MODE7 ) -- (R1) lcd_data0.gpio2[6] ~ KEY_STAR */
		key-star {
			label = "key:star";
			gpios = <&gpio2 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	sound {
		compatible = "ti,da830-evm-audio";
		ti,model = "DA830 EVM";
		ti,audio-codec = <&tlv320aic3x>;
		ti,mcasp-controller = <&mcasp0>;
		ti,codec-clock-rate = <24000000>;
		ti,audio-routing =
			"Headphone Jack",       "HPLOUT",
			"Headphone Jack",       "HPROUT",
			"Line Out",             "LLOUT",
			"Line Out",             "RLOUT",
			"MIC3L",                "Mic Jack",
			"MIC3R",                "Mic Jack",
			"LINE1L",               "Line In",
			"LINE2L",               "Line In",
			"LINE1R",               "Line In",
			"LINE2R",               "Line In";
	};

	vbat: fixedregulator@0 {
		compatible = "regulator-fixed";
		regulator-name = "vbat";
		regulator-min-microvolt = <4100000>;  /* <= what to set to??? */
		regulator-max-microvolt = <4100000>;  /* <= what to set to??? */
		regulator-boot-on;
	};

	vmmcsd_fixed: fixedregulator@1 {
		compatible = "regulator-fixed";
		regulator-name = "vmmcsd_fixed";
		regulator-min-microvolt = <3300000>;  /* <= should be 1.8? */
		regulator-max-microvolt = <3300000>;  /* <= should be 1.8? */
	};

	
	wlcore {
		compatible = "wlcore";
		gpio = <&gpio2 22>;  /* irq */
		platform-quirks = <1>;
		board-ref-clock = <2>;
	};

	vmmc_wl: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "vmmc-wl";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&gpio2 25 0>;  /* enable */
		startup-delay-us = <70000>;
		enable-active-high;
	};

};


/* How do we handle these with px_xx assignments gone? Do we even need this ocp thingy anymore? */
&ocp {
	/* clkout2 */
	P9_41_pinmux {
		status = "disabled";
	};
	/* mmc1 */
	P9_92_pinmux {
		status = "disabled";
	};
};


/* --- UARTS --- */
&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins>;

	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_pins>;

	status = "okay";
};


/* --- USB --- */
&usb {
	status = "okay";

	control@44e10620 {
		status = "okay";
	};

	usb-phy@47401300 {
		status = "okay";
	};

	usb-phy@47401b00 {
		status = "okay";
	};

	usb@47401000 {
		status = "okay";
		dr_mode = "host";
	};

	usb@47401800 {
		status = "okay";
		dr_mode = "host";
	};

	dma-controller@47402000  {
		status = "okay";
	};
};


/* --- I2C --- */
&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;

	status = "okay";
	clock-frequency = <400000>;

	/* pmic */
	tps: tps@24 {
		reg = <0x24>;
	};

	/* eeprom */
	baseboard_eeprom: baseboard_eeprom@50 {
		compatible = "at,24c256";
		reg = <0x50>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;

	status = "okay";
	clock-frequency = <400000>;

	/* rtc (wdt not used) */
	m41t65: m41t65@68 {
		compatible = "stm,m41t80";
		reg = <0x68>;
		status = "okay";
	}; 

	/* TBD: FUEL GUAGE... */
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;

	status = "okay";
	clock-frequency = <400000>;

	/* audio */
	tlv320aic3x: tlv320aic3x@18 {
		compatible = "ti,tlv320aic3x";
		reg = <0x18>;
		ai3x-micbias-vg = <1>;
		status = "okay";

		/* Regulators */
		AVDD-supply = <&ldo4_reg>;
		IOVDD-supply = <&ldo4_reg>;
		DRVDD-supply = <&ldo4_reg>;
		DVDD-supply = <&vbat>;
	};
};


/* --- PMIC --- */
/include/ "tps65217.dtsi"

&tps {
	ti,pmic-shutdown-controller;

	interrupt-parent = <&intc>;
	interrupts = <7>;	/* NNMI */

	regulators {
		dcdc1_reg: regulator@0 {
			regulator-always-on;
		};

		dcdc2_reg: regulator@1 {
			/* VDD_MPU voltage limits 0.95V - 1.325V with +/-4% tolerance */
			regulator-name = "vdd_mpu";
			regulator-min-microvolt = <912500>;
			regulator-max-microvolt = <1378000>;
			regulator-boot-on;
			regulator-always-on;
		};

		dcdc3_reg: regulator@2 {
			/* VDD_CORE voltage limits 0.95V - 1.1V with +/-4% tolerance */
			regulator-name = "vdd_core";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <1150000>;
			regulator-boot-on;
			regulator-always-on;
		};

		ldo1_reg: regulator@3 {
			regulator-always-on;
		};

		ldo2_reg: regulator@4 {
			regulator-always-on;
		};

		ldo3_reg: regulator@5 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
			regulator-always-on;
		};

		ldo4_reg: regulator@6 {
			regulator-always-on;
		};

		rtc@44e3e000 {
			ti,system-power-controller;
		};
	};
};


/* --- ETHERNET --- */
&cpsw_emac0 {
	phy_id = <&davinci_mdio>, <0>;
	phy-mode = "mii";
};

&cpsw_emac1 {
	phy_id = <&davinci_mdio>, <1>;
	phy-mode = "mii";
};

&mac {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&cpsw_default>;
	pinctrl-1 = <&cpsw_sleep>;

};

&davinci_mdio {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&davinci_mdio_default>;
	pinctrl-1 = <&davinci_mdio_sleep>;
};


/* --- MMC --- */
/* MMC0, bad naming in Linux! */
&mmc1 {
	status = "okay";
	bus-width = <0x4>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mmc1_pins_default>;
	pinctrl-1 = <&mmc1_pins_sleep>;
	cd-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
	cd-inverted;
	vmmc-supply = <&vmmcsd_fixed>;	/* <= this is currently set to 3.3! */
};

/* MMC1, bad naming in Linux! */
/* from: #include "am335x-boneblack-emmc.dtsi" */
&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
	ti,vcc-aux-disable-is-sleep;
};

/* MMC2, bad naming in Linux! */
/* from: diff supplied by LSR: http://www.lsr.com/embedded-wireless-modules/wifi-plus-bluetooth-module/tiwi-ble#product-documents */
&mmc3 {
	status = "okay";
	vmmc-supply = <&vmmc_wl>;
	bus-width = <4>;
        pinctrl-names = "default";
        pinctrl-0 = <&mmc3_pins>;
        ti,non-removable;
        keep-power-in-suspend;
};


/* --- AUDIO --- */
&mcasp0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcasp0_pins_audio_revb>;
	status = "okay";
	op-mode = <0>;          /* MCASP_IIS_MODE */
	tdm-slots = <2>;
	num-serializer = <16>;
	serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */
		2 0 1 0
		0 0 0 0
		0 0 0 0
		0 0 0 0
	>;
	tx-num-evt = <1>;
	rx-num-evt = <1>;
};


/* --- OTHER --- */
&wkup_m3 {
	ti,scale-data-fw = "am335x-bone-scale-data.bin";
};

&rtc {
	ti,system-power-controller;
};

&aes {
	status = "okay";
};

&sham {
	status = "okay";
};


/* --- PINMUX --- */
&am33xx_pinmux {
	pinctrl-names = "default";
	pinctrl-0 = <&clkout2_pin>;
};

