/*
 * Copyright (C) 2015-2017 Variscite Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * Buttons for VAR-MX6CustomBoard
 */

/* Functionality ripped out since it conflicted with custom Openity Snapcap board */
